body {
  font-family: "Courier New", Courier, monospace;
  background-color: #000000;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 32px;
}

.youtube-embeds .grid {
  grid-gap: 20px;
}

.img-responsive {
  width: 100%;
  display: block;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.card {
  background: white;
  margin: 30px 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  border-radius: 10px;
  background-color: #000000;
  text-decoration: none;
}

.embed {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

.youtube-embeds {
  margin: 30px 0;
}

.youtube-embeds.grid {
  grid-gap: 20px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 50px;
}

section.secondary {
  background: #f8f8f8;
}

section.embed-section {
  padding: 100px 30px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/_lgz4935.gallery_full_top_fullscreen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 250px 0;
}

header h1 {
  font-family: "Orbitron";
  font-weight: 700;
  font-size: 95px;
  line-height: 1.5;
  margin: 0 auto;
}

header h2 {
  font-family: "Orbitron";
  font-size: 30px;
  line-height: 1.5;
  margin: 0 auto;
}

header h3 {
  font-size: 26px;
  margin: 10px 0 0;
}

header a {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 10px;
  text-align: center;
  color: #272044;
  padding: 15px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #272044;
  opacity: 0.7;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("../images/motogp-Qatar-2023.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

footer h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  opacity: 0.9;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 1180px) {
  body {
    margin: 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }

  main h2 {
    text-align: center;
  }

  main h3 {
    text-align: center;
  }

  .motoGP-hill-image {
    width: 75%;
    margin: 0 auto;
    padding: 50px;
  }

  .youtube-embeds .grid {
    grid-gap: 10px;
  }

  section {
    padding: 30px;
  }

  section.embed-section {
    padding: 100px 10px;
  }
}

@media (max-width: 960px) {
  header {
    padding: 100px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }

  main h2 {
    text-align: center;
  }

  main h3 {
    text-align: center;
  }

  .motoGP-hill-image {
    width: 75%;
    margin: 0 auto;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }

  .youtube-embeds .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  section {
    padding: 30px;
  }

  section.embed-section {
    padding: 100px 20px;
  }
}

@media (max-width: 450px) {
  body {
    margin: 0;
  }

  header {
    padding: 100px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
      url("../images/motogp-grid-photoshot-for-2023-sm.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }

  main h2 {
    text-align: center;
  }

  main h3 {
    text-align: center;
  }

  .motoGP-hill-image {
    display: none;
  }

  .embed {
    border-radius: 0;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }

  .youtube-embeds .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  section {
    padding: 30px;
  }

  section.secondary {
    padding: 30px 15px;
  }

  section.secondary h4 {
    text-align: center;
  }

  .card-body {
    padding: 20px;
  }

  .card-footer {
    padding: 30px;
  }

  section.embed-section {
    padding: 100px 0;
  }
}
